Repository mauro7x/concurrentes, changes with the labels that .github/labeler.yml gives for each.
All labels: repository, github, hooks, ui, tp1, tp2, .rust, .js, docs

.github/labeler.yml:

# Main repository structure
repository: '*'
github: .github/**/*
hooks: hooks/**/*

# Packages
ui: ui/**/*
tp1: TP1/**/*
tp2: TP2/**/*

# Extensions
.rust: '**/*.rs'
.js: '**/*.js'

# Any subfolder
docs: '**/docs/**/*'

add: functional transactions
  TP2/transactions/alglobo/src/lib/file_logger.rs
  TP2/transactions/alglobo/src/lib/lib.rs
  TP2/transactions/alglobo/src/lib/protocol.rs
  TP2/transactions/alglobo/src/lib/types.rs
  TP2/transactions/alglobo/src/main.rs
  TP2/transactions/docker-compose.yml
  TP2/transactions/service/Cargo.lock
  TP2/transactions/service/Cargo.toml
  TP2/transactions/service/src/lib/lib.rs
  TP2/transactions/service/src/lib/protocol.rs
  TP2/transactions/service/src/lib/types.rs
  TP2/transactions/service/src/main.rs
Labels: tp2, .rust

fix: add aborting unregistered tx
  TP2/transactions/service/src/main.rs
Labels: tp2, .rust

remove: stdin input after reading file
  TP2/transactions/alglobo/src/main.rs
Labels: tp2, .rust

refactor: error handling and code modularization
  TP2/transactions/alglobo/src/lib/file_logger.rs
  TP2/transactions/alglobo/src/main.rs
Labels: tp2, .rust

refactor: minor fixes
  TP2/transactions/alglobo/src/lib/protocol.rs
  TP2/transactions/alglobo/src/lib/types.rs
  TP2/transactions/alglobo/src/main.rs
  TP2/transactions/service/src/lib/protocol.rs
  TP2/transactions/service/src/lib/types.rs
Labels: tp2, .rust

add: handler for timeout and error when waiting
  TP2/transactions/alglobo/src/main.rs
Labels: tp2, .rust

Update docker-compose
  TP2/replicas/docker-compose.yml
Labels: tp2

Port is u16
  TP2/replicas/alglobo/src/lib/config.rs
Labels: tp2, .rust

WIP: Leader election (almost done)
  TP2/replicas/alglobo/src/lib/constants.rs
  TP2/replicas/alglobo/src/lib/control.rs
  TP2/replicas/alglobo/src/lib/directory.rs
  TP2/replicas/alglobo/src/lib/leader.rs
  TP2/replicas/alglobo/src/lib/lib.rs
  TP2/replicas/alglobo/src/lib/protocols/directory.rs
  TP2/replicas/alglobo/src/lib/protocols/election.rs
  TP2/replicas/alglobo/src/lib/protocols/mod.rs
  TP2/replicas/alglobo/src/lib/replica.rs
  TP2/replicas/alglobo/src/lib/types.rs
Labels: tp2, .rust

Fix clippy *
  TP2/replicas/alglobo/src/lib/control.rs
Labels: tp2, .rust

Cambio identacion y aplico rust-analiz
  .editorconfig
  TP2/transactions/service/src/lib/protocol.rs
  TP2/transactions/service/src/lib/types.rs
  TP2/transactions/service/src/main.rs
Labels: repository, tp2, .rust

New form of building
  TP2/replicas/alglobo/Cargo.toml
  TP2/replicas/alglobo/Dockerfile
  TP2/replicas/alglobo/src/lib/leader.rs
  TP2/replicas/clean.sh
  TP2/replicas/directory/Cargo.toml
  TP2/replicas/directory/Dockerfile
  TP2/replicas/docker-compose.yml
  TP2/replicas/run.sh
Labels: tp2, .rust

Improve run script
  TP2/replicas/.env
  TP2/replicas/run.sh
Labels: tp2

Remove comments from script
  TP2/replicas/run.sh
Labels: tp2

WIP: Test
  TP2/replicas/alglobo/src/lib/leader.rs
  TP2/replicas/directory/Dockerfile
  TP2/replicas/run.sh
Labels: tp2, .rust

WIP: Test *
  TP2/replicas/alglobo/Dockerfile
  TP2/replicas/run.sh
Labels: tp2

Finished script
  TP2/replicas/run.sh
Labels: tp2

Parametrize env vars
  TP2/replicas/alglobo/src/lib/config.rs
  TP2/replicas/alglobo/src/lib/constants.rs
Labels: tp2, .rust

Global changes, environment setup, csv reading
  .editorconfig
  TP2/transactions/alglobo/Cargo.lock
  TP2/transactions/alglobo/Cargo.toml
  TP2/transactions/alglobo/Dockerfile
  TP2/transactions/alglobo/src/lib/alglobo.rs
  TP2/transactions/alglobo/src/lib/constants.rs
  TP2/transactions/alglobo/src/lib/file_logger.rs
  TP2/transactions/alglobo/src/lib/lib.rs
  TP2/transactions/alglobo/src/lib/protocol.rs
  TP2/transactions/alglobo/src/lib/types.rs
  TP2/transactions/alglobo/src/main.rs
  TP2/transactions/alglobo/src/txs.csv
  TP2/transactions/docker-compose.yml
  TP2/transactions/run.sh
Labels: repository, tp2, .rust

Replicas working
  TP2/replicas/alglobo/src/lib/constants.rs
  TP2/replicas/alglobo/src/lib/control.rs
  TP2/replicas/alglobo/src/lib/directory.rs
  TP2/replicas/alglobo/src/lib/protocols/election.rs
  TP2/replicas/alglobo/src/lib/replica.rs
Labels: tp2, .rust

Replicas (#50)
  TP2/replicas/.env
  TP2/replicas/alglobo.env
  TP2/replicas/alglobo/src/lib/config.rs
  TP2/replicas/alglobo/src/lib/constants.rs
  TP2/replicas/alglobo/src/lib/control.rs
  TP2/replicas/alglobo/src/lib/directory.rs
  TP2/replicas/alglobo/src/lib/leader.rs
  TP2/replicas/alglobo/src/lib/lib.rs
  TP2/replicas/alglobo/src/lib/protocols/directory.rs
  TP2/replicas/alglobo/src/lib/protocols/election.rs
  TP2/replicas/alglobo/src/lib/protocols/mod.rs
  TP2/replicas/alglobo/src/lib/replica.rs
  TP2/replicas/alglobo/src/lib/types.rs
  TP2/replicas/alglobo/src/main.rs
  TP2/replicas/clean.sh
  TP2/replicas/directory/.dockerignore
  TP2/replicas/directory/Cargo.lock
  TP2/replicas/directory/Cargo.toml
  TP2/replicas/directory/Dockerfile
  TP2/replicas/directory/src/lib/config.rs
  TP2/replicas/directory/src/lib/constants.rs
  TP2/replicas/directory/src/lib/directory.rs
  TP2/replicas/directory/src/lib/lib.rs
  TP2/replicas/directory/src/lib/node.rs
  TP2/replicas/directory/src/lib/protocol.rs
  TP2/replicas/directory/src/lib/types.rs
  TP2/replicas/directory/src/lib/utils.rs
  TP2/replicas/directory/src/main.rs
  TP2/replicas/docker-compose.yml
  TP2/replicas/run.sh
  TP2/replicas/scale.sh
Labels: tp2, .rust

Fix cargo clippy suggestions
  TP2/replicas/alglobo/src/lib/control.rs
  TP2/replicas/alglobo/src/lib/directory.rs
  TP2/replicas/alglobo/src/main.rs
Labels: tp2, .rust

WIP: Integration
  TP2/.env
  TP2/README.md
  TP2/ci/todo
  TP2/clean.sh
  TP2/docker-compose.yml
  TP2/replicas/.env
  TP2/replicas/clean.sh
  TP2/run.sh
  TP2/scale.sh
  TP2/services/alglobo/.dockerignore
  TP2/services/alglobo/Cargo.lock
  TP2/services/alglobo/Cargo.toml
  TP2/services/alglobo/Dockerfile
  TP2/services/alglobo/src/lib/config.rs
  TP2/services/alglobo/src/lib/constants.rs
  TP2/services/alglobo/src/lib/control.rs
  TP2/services/alglobo/src/lib/directory.rs
  TP2/services/alglobo/src/lib/leader.rs
  TP2/services/alglobo/src/lib/lib.rs
  TP2/services/alglobo/src/lib/protocols/directory.rs
  TP2/services/alglobo/src/lib/protocols/election.rs
  TP2/services/alglobo/src/lib/protocols/mod.rs
  TP2/services/alglobo/src/lib/replica.rs
  TP2/services/alglobo/src/lib/types.rs
  TP2/services/alglobo/src/main.rs
  TP2/services/directory/.dockerignore
  TP2/services/directory/Cargo.lock
  TP2/services/directory/Cargo.toml
  TP2/services/directory/Dockerfile
  TP2/services/directory/src/lib/config.rs
  TP2/services/directory/src/lib/constants.rs
  TP2/services/directory/src/lib/directory.rs
  TP2/services/directory/src/lib/lib.rs
  TP2/services/directory/src/lib/node.rs
  TP2/services/directory/src/lib/protocol.rs
  TP2/services/directory/src/lib/types.rs
  TP2/services/directory/src/lib/utils.rs
  TP2/services/directory/src/main.rs
  TP2/strategy.md
Labels: tp2, .rust

Separo en servicios individuales
  TP2/transactions/alglobo/src/lib/alglobo.rs
  TP2/transactions/alglobo/src/lib/file_logger.rs
  TP2/transactions/alglobo/src/lib/lib.rs
  TP2/transactions/alglobo/src/lib/protocol.rs
  TP2/transactions/alglobo/src/lib/service.rs
  TP2/transactions/alglobo/src/main.rs
Labels: tp2, .rust

Refactor structure
  TP2/assets/payments.csv
  TP2/services/alglobo/src/lib/config/control.rs
  TP2/services/alglobo/src/lib/config/data.rs
  TP2/services/alglobo/src/lib/config/mod.rs
  TP2/services/alglobo/src/lib/constant/directory.rs
  TP2/services/alglobo/src/lib/constant/env.rs
  TP2/services/alglobo/src/lib/constant/errors.rs
  TP2/services/alglobo/src/lib/constant/leader_election.rs
  TP2/services/alglobo/src/lib/constant/mod.rs
  TP2/services/alglobo/src/lib/constants.rs
  TP2/services/alglobo/src/lib/control_plane.rs
  TP2/services/alglobo/src/lib/data_plane.rs
  TP2/services/alglobo/src/lib/directory.rs
  TP2/services/alglobo/src/lib/lib.rs
  TP2/services/alglobo/src/lib/protocol/directory.rs
  TP2/services/alglobo/src/lib/protocol/election.rs
  TP2/services/alglobo/src/lib/protocol/mod.rs
  TP2/services/alglobo/src/lib/replica.rs
  TP2/services/alglobo/src/main.rs
Labels: tp2, .rust

Integrar servicios genericos a la estructura de carpetas
  TP2/.env
  TP2/airline.env
  TP2/alglobo.env
  TP2/bank.env
  TP2/docker-compose.yml
  TP2/hotel.env
  TP2/services/generic-service/.dockerignore
  TP2/services/generic-service/Cargo.lock
  TP2/services/generic-service/Cargo.toml
  TP2/services/generic-service/Dockerfile
  TP2/services/generic-service/src/lib/constants.rs
  TP2/services/generic-service/src/lib/lib.rs
  TP2/services/generic-service/src/lib/protocol.rs
  TP2/services/generic-service/src/lib/types.rs
  TP2/services/generic-service/src/main.rs
  TP2/transactions/build.sh
  TP2/transactions/clean.sh
  TP2/transactions/docker-compose.yml
  TP2/transactions/run.sh
  TP2/transactions/service/Dockerfile
Labels: tp2, .rust

Refactor structure *
  TP2/services/alglobo/src/lib/config/control.rs
  TP2/services/alglobo/src/lib/config/data.rs
  TP2/services/alglobo/src/lib/constants/directory.rs
  TP2/services/alglobo/src/lib/constants/env.rs
  TP2/services/alglobo/src/lib/constants/errors.rs
  TP2/services/alglobo/src/lib/constants/leader_election.rs
  TP2/services/alglobo/src/lib/constants/mod.rs
  TP2/services/alglobo/src/lib/control_plane.rs
  TP2/services/alglobo/src/lib/data_plane.rs
  TP2/services/alglobo/src/lib/directory.rs
  TP2/services/alglobo/src/lib/lib.rs
  TP2/services/alglobo/src/lib/protocol/election.rs
  TP2/services/alglobo/src/lib/replica.rs
  TP2/services/alglobo/src/lib/types/common.rs
  TP2/services/alglobo/src/lib/types/control.rs
  TP2/services/alglobo/src/lib/types/mod.rs
  TP2/services/alglobo/src/main.rs
Labels: tp2, .rust

WIP: CI scripts *
  TP2/ci/run_for_services.sh
  TP2/ci/todo
Labels: tp2

WIP: new pre-commit for TP2
  .rusty-hook.toml
Labels: repository

Enable pre-commits
  hooks/pre-commit-gen
  hooks/pre-commit-tp2
Labels: hooks

Test: enable CI
  .github/workflows/tp2_ci.yml
Labels: github

Integracion y adaptacion a iterador
  TP2/.env
  TP2/assets/payments.csv
  TP2/docker-compose.yml
  TP2/services/alglobo/Cargo.lock
  TP2/services/alglobo/Cargo.toml
  TP2/services/alglobo/src/lib/config/data.rs
  TP2/services/alglobo/src/lib/constant/env.rs
  TP2/services/alglobo/src/lib/data_plane.rs
  TP2/services/alglobo/src/lib/file_logger.rs
  TP2/services/alglobo/src/lib/lib.rs
  TP2/services/alglobo/src/lib/protocol/data.rs
  TP2/services/alglobo/src/lib/protocol/mod.rs
  TP2/services/alglobo/src/lib/replica.rs
  TP2/services/alglobo/src/lib/service.rs
  TP2/services/alglobo/src/lib/types.rs
  TP2/services/generic-service/src/main.rs
  TP2/transactions/alglobo/.dockerignore
  TP2/transactions/alglobo/Cargo.lock
  TP2/transactions/alglobo/Cargo.toml
  TP2/transactions/alglobo/Dockerfile
  TP2/transactions/alglobo/src/lib/alglobo.rs
  TP2/transactions/alglobo/src/lib/constants.rs
  TP2/transactions/alglobo/src/lib/lib.rs
  TP2/transactions/alglobo/src/lib/types.rs
  TP2/transactions/alglobo/src/main.rs
  TP2/transactions/alglobo/src/txs.csv
Labels: tp2, .rust

Cargo fix
  TP2/services/alglobo/src/lib/data_plane.rs
  TP2/services/alglobo/src/lib/protocol/data.rs
  TP2/services/alglobo/src/lib/replica.rs
  TP2/services/alglobo/src/lib/service.rs
Labels: tp2, .rust

Cambio a iterador
  TP2/services/alglobo/src/lib/replica.rs
Labels: tp2, .rust

Cargo fix
  TP2/services/alglobo/src/lib/file_logger.rs
Labels: tp2, .rust

Saco editorcondig
  .editorconfig
Labels: repository

Fix cargo scripts
  .github/workflows/tp2_ci.yml
  TP2/check.sh
  TP2/clean.sh
  TP2/clippy.sh
  TP2/run_for_services.sh
  hooks/pre-commit-tp2
Labels: github, hooks, tp2

Some refactors
  TP2/docker-compose.yml
  TP2/services/alglobo/src/lib/constants/data.rs
  TP2/services/alglobo/src/lib/constants/mod.rs
  TP2/services/alglobo/src/lib/data_plane.rs
  TP2/services/alglobo/src/lib/file_logger.rs
  TP2/services/alglobo/src/lib/lib.rs
  TP2/services/alglobo/src/lib/protocol/data.rs
  TP2/services/alglobo/src/lib/service.rs
  TP2/services/alglobo/src/lib/types/data.rs
Labels: tp2, .rust

Refactor generic-service
  TP2/services/generic-service/src/lib/config.rs
  TP2/services/generic-service/src/lib/constants.rs
  TP2/services/generic-service/src/lib/lib.rs
  TP2/services/generic-service/src/lib/protocol.rs
  TP2/services/generic-service/src/lib/service.rs
  TP2/services/generic-service/src/lib/types/common.rs
  TP2/services/generic-service/src/lib/types/data.rs
  TP2/services/generic-service/src/lib/types/mod.rs
  TP2/services/generic-service/src/main.rs
Labels: tp2, .rust

More refactors
  TP2/.env
  TP2/airline.env
  TP2/alglobo.env
  TP2/bank.env
  TP2/config/airline.env
  TP2/config/alglobo.env
  TP2/config/bank.env
  TP2/config/directory.env
  TP2/config/hotel.env
  TP2/docker-compose.yml
  TP2/hotel.env
  TP2/run.sh
  TP2/services/alglobo/Dockerfile
  TP2/services/alglobo/Dockerfile.old
  TP2/services/alglobo/dummy.Cargo.toml
  TP2/services/alglobo/src/lib/config/control.rs
  TP2/services/alglobo/src/lib/config/data.rs
  TP2/services/alglobo/src/lib/config/mod.rs
  TP2/services/alglobo/src/lib/config/utils.rs
  TP2/services/alglobo/src/lib/constants/env.rs
  TP2/services/alglobo/src/lib/constants/mod.rs
  TP2/services/alglobo/src/lib/constants/paths.rs
  TP2/services/alglobo/src/lib/data_plane.rs
  TP2/services/alglobo/src/lib/lib.rs
  TP2/services/alglobo/src/lib/protocol/data.rs
  TP2/services/alglobo/src/lib/service.rs
  TP2/services/alglobo/src/lib/service_directory.rs
  TP2/services/alglobo/src/lib/types/data.rs
  TP2/services/directory/Dockerfile
  TP2/services/directory/dummy.Cargo.toml
  TP2/services/generic-service/Dockerfile
  TP2/services/generic-service/dummy.Cargo.toml
  TP2/services/generic-service/src/lib/config.rs
  TP2/services/generic-service/src/lib/protocol.rs
  TP2/services/generic-service/src/lib/service.rs
Labels: tp2, .rust
