Repository mauro7x/concurrentes, changes with the labels that .github/labeler.yml gives for each.
All labels: repository, github, hooks, ui, tp1, tp2, .rust, .js, docs

.github/labeler.yml:

# Main repository structure
repository: '*'
github: .github/**/*
hooks: hooks/**/*

# Packages
ui: ui/**/*
tp1: TP1/**/*
tp2: TP2/**/*

# Extensions
.rust: '**/*.rs'
.js: '**/*.js'

# Any subfolder
docs: '**/docs/**/*'

Exit when a cmd fails
  TP2/run.sh
Labels: tp2

Fix clippy
  TP2/services/alglobo/src/lib/control_plane.rs
Labels: tp2, .rust

Removed unused Dockerfile
  TP2/services/alglobo/Dockerfile.old
Labels: tp2

Copying payments queue file on run.sh
  TP2/assets/payments.example.csv
  TP2/run.sh
Labels: tp2

Remove transaction after parsing
  .gitignore
  TP2/assets/payments.csv
  TP2/services/alglobo/src/lib/constants/paths.rs
  TP2/services/alglobo/src/lib/data_plane.rs
  TP2/services/alglobo/src/lib/replica.rs
Labels: repository, tp2, .rust

Rename
  TP2/services/alglobo/src/lib/data_plane.rs
  TP2/services/alglobo/src/lib/replica.rs
Labels: tp2, .rust

Response time for generic-service
  TP2/.env
  TP2/docker-compose.yml
  TP2/services/alglobo/src/lib/data_plane.rs
  TP2/services/generic-service/src/lib/config.rs
  TP2/services/generic-service/src/lib/constants.rs
  TP2/services/generic-service/src/lib/service.rs
Labels: tp2, .rust

Delete strategy.md
  TP2/strategy.md
Labels: tp2

Wrapper for tx log
  TP2/services/alglobo/src/lib/constants/paths.rs
  TP2/services/alglobo/src/lib/data_plane.rs
  TP2/services/alglobo/src/lib/lib.rs
  TP2/services/alglobo/src/lib/protocol/data.rs
  TP2/services/alglobo/src/lib/tx_log.rs
Labels: tp2, .rust

add: infinit retries in commit and abort and 3 retries in prepare
  TP2/services/alglobo/src/lib/config/data.rs
  TP2/services/alglobo/src/lib/constants/data.rs
  TP2/services/alglobo/src/lib/data_plane.rs
Labels: tp2, .rust

fix: clippy errors
  TP2/services/alglobo/src/lib/data_plane.rs
Labels: tp2, .rust

Shared libs and better naming
  .gitignore
  TP2/.env
  TP2/.gitignore
  TP2/assets/payments.csv
  TP2/common/alglobo_generic-service_protocol.rs
  TP2/config/airline.env
  TP2/config/bank.env
  TP2/config/hotel.env
  TP2/docker-compose.yml
  TP2/examples/payments.csv
  TP2/run.sh
  TP2/services/alglobo/Dockerfile
  TP2/services/alglobo/src/lib/constants/paths.rs
  TP2/services/alglobo/src/lib/protocol/data.rs
  TP2/services/directory/Dockerfile
  TP2/services/generic-service/Dockerfile
  TP2/services/generic-service/src/lib/config.rs
  TP2/services/generic-service/src/lib/constants.rs
  TP2/services/generic-service/src/lib/protocol.rs
  TP2/services/generic-service/src/lib/service.rs
Labels: repository, tp2, .rust

mod: rename transaction fields
  TP2/examples/payments.csv
  TP2/services/alglobo/src/lib/types/data.rs
Labels: tp2, .rust

Update README.md
  README.md
Labels: repository

Add script to clean docker data
  TP2/clean_docker.sh
Labels: tp2

Share protocol between directory and alglobo
  TP2/common/alglobo_directory_protocol.rs
  TP2/run.sh
  TP2/services/alglobo/Dockerfile
  TP2/services/alglobo/src/lib/directory.rs
  TP2/services/alglobo/src/lib/protocol/directory.rs
  TP2/services/directory/Dockerfile
  TP2/services/directory/src/lib/directory.rs
  TP2/services/directory/src/lib/protocol.rs
  TP2/services/directory/src/lib/utils.rs
Labels: tp2, .rust

Protocol as a common file (#66)
  TP2/clean_docker.sh
  TP2/common/alglobo_directory_protocol.rs
  TP2/run.sh
  TP2/services/alglobo/Dockerfile
  TP2/services/alglobo/src/lib/directory.rs
  TP2/services/alglobo/src/lib/protocol/directory.rs
  TP2/services/directory/Dockerfile
  TP2/services/directory/src/lib/directory.rs
  TP2/services/directory/src/lib/protocol.rs
  TP2/services/directory/src/lib/utils.rs
Labels: tp2, .rust

refactor: send transaction structure and not id as message
  TP2/common/alglobo_generic-service_protocol.rs
  TP2/services/alglobo/src/lib/data_plane.rs
  TP2/services/alglobo/src/lib/types/data.rs
  TP2/services/generic-service/src/lib/service.rs
  TP2/services/generic-service/src/lib/types/data.rs
Labels: tp2, .rust

Implement recover state from file
  TP2/common/alglobo_generic-service_protocol.rs
  TP2/services/alglobo/src/lib/data_plane.rs
  TP2/services/alglobo/src/lib/tx_log.rs
Labels: tp2, .rust

Add thread utils to help error propagation in Control Plane
  TP2/services/alglobo/src/lib/constants/control.rs
  TP2/services/alglobo/src/lib/constants/errors.rs
  TP2/services/alglobo/src/lib/constants/mod.rs
  TP2/services/alglobo/src/lib/control_plane.rs
  TP2/services/alglobo/src/lib/file_logger.rs
  TP2/services/alglobo/src/lib/lib.rs
  TP2/services/alglobo/src/lib/replica.rs
  TP2/services/alglobo/src/lib/thread_utils.rs
  TP2/services/alglobo/src/lib/types/control.rs
Labels: tp2, .rust

Fix infinite loop
  TP2/services/alglobo/src/lib/control_plane.rs
  TP2/services/alglobo/src/lib/thread_utils.rs
Labels: tp2, .rust

Use references
  TP2/services/alglobo/src/lib/control_plane.rs
  TP2/services/alglobo/src/lib/thread_utils.rs
Labels: tp2, .rust

Control renamed to ControlPlane
  TP2/services/alglobo/src/lib/control_plane.rs
  TP2/services/alglobo/src/lib/replica.rs
Labels: tp2, .rust

Add safe threads to data plane
  TP2/services/alglobo/src/lib/data_plane.rs
Labels: tp2, .rust

add: bank that handles funds
  TP2/common/alglobo_generic-service_protocol.rs
  TP2/docker-compose.yml
  TP2/examples/accounts.csv
  TP2/run.sh
  TP2/services/alglobo/src/lib/data_plane.rs
  TP2/services/generic-service/Cargo.lock
  TP2/services/generic-service/Cargo.toml
  TP2/services/generic-service/dummy.Cargo.toml
  TP2/services/generic-service/src/lib/bank.rs
  TP2/services/generic-service/src/lib/lib.rs
  TP2/services/generic-service/src/lib/paths.rs
  TP2/services/generic-service/src/lib/service.rs
Labels: tp2, .rust

fix: clippy errors
  TP2/services/generic-service/src/lib/bank.rs
  TP2/services/generic-service/src/lib/service.rs
Labels: tp2, .rust

add: bank money handling (#69)
  TP2/common/alglobo_generic-service_protocol.rs
  TP2/docker-compose.yml
  TP2/examples/accounts.csv
  TP2/examples/payments.csv
  TP2/run.sh
  TP2/services/alglobo/src/lib/data_plane.rs
  TP2/services/alglobo/src/lib/types/data.rs
  TP2/services/generic-service/Cargo.lock
  TP2/services/generic-service/Cargo.toml
  TP2/services/generic-service/dummy.Cargo.toml
  TP2/services/generic-service/src/lib/bank.rs
  TP2/services/generic-service/src/lib/lib.rs
  TP2/services/generic-service/src/lib/paths.rs
  TP2/services/generic-service/src/lib/service.rs
  TP2/services/generic-service/src/lib/types/data.rs
Labels: tp2, .rust

Add safe threads to data plane *
  TP2/services/alglobo/src/lib/data_plane.rs
Labels: tp2, .rust

Fix style
  TP2/services/alglobo/src/lib/control_plane.rs
Labels: tp2, .rust

fix: bank aborting release funds when reserved only
  TP2/run.sh
  TP2/services/alglobo/src/lib/data_plane.rs
  TP2/services/generic-service/src/lib/service.rs
Labels: tp2, .rust

Implement recover state from file (#67)
  TP2/common/alglobo_generic-service_protocol.rs
  TP2/run.sh
  TP2/services/alglobo/src/lib/data_plane.rs
  TP2/services/alglobo/src/lib/tx_log.rs
  TP2/services/generic-service/src/lib/service.rs
Labels: tp2, .rust

Propagate errors (#68)
  TP2/services/alglobo/src/lib/constants/control.rs
  TP2/services/alglobo/src/lib/constants/errors.rs
  TP2/services/alglobo/src/lib/constants/mod.rs
  TP2/services/alglobo/src/lib/control_plane.rs
  TP2/services/alglobo/src/lib/data_plane.rs
  TP2/services/alglobo/src/lib/file_logger.rs
  TP2/services/alglobo/src/lib/lib.rs
  TP2/services/alglobo/src/lib/replica.rs
  TP2/services/alglobo/src/lib/thread_utils.rs
  TP2/services/alglobo/src/lib/types/control.rs
Labels: tp2, .rust

Code style *
  TP2/common/alglobo_generic-service_protocol.rs
  TP2/fmt.sh
  TP2/services/alglobo/src/lib/config/data.rs
  TP2/services/alglobo/src/lib/data_plane.rs
  TP2/services/generic-service/src/lib/bank.rs
  TP2/services/generic-service/src/lib/lib.rs
  TP2/services/generic-service/src/lib/service.rs
Labels: tp2, .rust

Logic
  TP2/examples/retry_payments.csv
  TP2/run.sh
  TP2/services/alglobo/src/lib/constants/paths.rs
  TP2/services/alglobo/src/lib/data_plane.rs
Labels: tp2, .rust

Coment tmp delete to test retry payments
  TP2/run.sh
Labels: tp2

Fix bug
  TP2/services/directory/src/lib/directory.rs
Labels: tp2, .rust

Socket reuse address
  TP2/common/alglobo_directory_protocol.rs
  TP2/common/alglobo_generic-service_protocol.rs
  TP2/run.sh
  TP2/services/alglobo/src/lib/constants/general.rs
  TP2/services/alglobo/src/lib/constants/mod.rs
  TP2/services/alglobo/src/lib/control_plane.rs
  TP2/services/alglobo/src/lib/data_plane.rs
Labels: tp2, .rust

Close sockets (#78)
  TP2/common/alglobo_directory_protocol.rs
  TP2/common/alglobo_generic-service_protocol.rs
  TP2/fmt.sh
  TP2/run.sh
  TP2/services/alglobo/src/lib/config/data.rs
  TP2/services/alglobo/src/lib/constants/general.rs
  TP2/services/alglobo/src/lib/constants/mod.rs
  TP2/services/alglobo/src/lib/control_plane.rs
  TP2/services/alglobo/src/lib/data_plane.rs
  TP2/services/directory/src/lib/directory.rs
  TP2/services/generic-service/src/lib/bank.rs
  TP2/services/generic-service/src/lib/lib.rs
  TP2/services/generic-service/src/lib/service.rs
Labels: tp2, .rust

Random failure function
  TP2/services/alglobo/Cargo.lock
  TP2/services/alglobo/Cargo.toml
  TP2/services/alglobo/src/lib/constants/env.rs
  TP2/services/alglobo/src/lib/lib.rs
  TP2/services/alglobo/src/lib/utils.rs
Labels: tp2, .rust

Add random failures
  TP2/services/alglobo/src/lib/control_plane.rs
  TP2/services/alglobo/src/lib/data_plane.rs
  TP2/services/alglobo/src/lib/replica.rs
  TP2/services/alglobo/src/lib/utils.rs
  TP2/services/alglobo/src/main.rs
Labels: tp2, .rust
