Repository mauro7x/concurrentes, changes with the labels that .github/labeler.yml gives for each.
All labels: repository, github, hooks, ui, tp1, tp2, .rust, .js, docs

.github/labeler.yml:

# Main repository structure
repository: '*'
github: .github/**/*
hooks: hooks/**/*

# Packages
ui: ui/**/*
tp1: TP1/**/*
tp2: TP2/**/*

# Extensions
.rust: '**/*.rs'
.js: '**/*.js'

# Any subfolder
docs: '**/docs/**/*'

Replicas should not die so much
  TP2/services/alglobo/src/lib/control_plane.rs
  TP2/services/alglobo/src/lib/replica.rs
Labels: tp2, .rust

Random failures
  TP2/config/alglobo.env
  TP2/services/alglobo/src/lib/utils.rs
Labels: tp2, .rust

Random fails (#79)
  TP2/config/alglobo.env
  TP2/services/alglobo/Cargo.lock
  TP2/services/alglobo/Cargo.toml
  TP2/services/alglobo/src/lib/constants/env.rs
  TP2/services/alglobo/src/lib/control_plane.rs
  TP2/services/alglobo/src/lib/data_plane.rs
  TP2/services/alglobo/src/lib/lib.rs
  TP2/services/alglobo/src/lib/replica.rs
  TP2/services/alglobo/src/lib/utils.rs
  TP2/services/alglobo/src/main.rs
Labels: tp2, .rust

Check that transaction not already in file for retries
  TP2/services/alglobo/src/lib/data_plane.rs
Labels: tp2, .rust

Fix clippy
  TP2/services/alglobo/src/lib/data_plane.rs
Labels: tp2, .rust

Explicit networks
  TP2/docker-compose.yml
Labels: tp2

Manual binary created and integrated
  TP2/examples/empty-payments.csv
  TP2/run.sh
  TP2/run_manual.sh
  TP2/services/alglobo/Cargo.toml
  TP2/services/alglobo/manual.Dockerfile
  TP2/services/alglobo/src/bin/app.rs
  TP2/services/alglobo/src/bin/manual.rs
Labels: tp2, .rust

Feat/retry payments (#77)
  TP2/examples/retry_payments.csv
  TP2/run.sh
  TP2/services/alglobo/src/lib/constants/paths.rs
  TP2/services/alglobo/src/lib/data_plane.rs
Labels: tp2, .rust

Manual execution working
  TP2/run.sh
  TP2/run_manual.sh
  TP2/services/alglobo/src/bin/manual.rs
  TP2/services/alglobo/src/lib/config/data.rs
  TP2/services/alglobo/src/lib/lib.rs
  TP2/services/alglobo/src/lib/manual.rs
Labels: tp2, .rust

Manual setup (#80)
  TP2/docker-compose.yml
  TP2/examples/empty-payments.csv
  TP2/run.sh
  TP2/run_manual.sh
  TP2/services/alglobo/Cargo.toml
  TP2/services/alglobo/manual.Dockerfile
  TP2/services/alglobo/src/bin/app.rs
  TP2/services/alglobo/src/bin/manual.rs
  TP2/services/alglobo/src/lib/config/data.rs
  TP2/services/alglobo/src/lib/lib.rs
  TP2/services/alglobo/src/lib/manual.rs
Labels: tp2, .rust

add: response with other tx_id than current filtered
  TP2/services/alglobo/src/lib/data_plane.rs
Labels: tp2, .rust

add: bank loan comment and wontdo
  TP2/services/generic-service/src/lib/bank.rs
Labels: tp2, .rust

Implement TODOs (#82)
  TP2/services/alglobo/src/lib/data_plane.rs
  TP2/services/generic-service/src/lib/bank.rs
Labels: tp2, .rust

remove: panics
  TP2/services/alglobo/src/lib/data_plane.rs
Labels: tp2, .rust

add: send termination messages to services. missing services handler
  TP2/common/alglobo_generic-service_protocol.rs
  TP2/services/alglobo/src/lib/data_plane.rs
  TP2/services/alglobo/src/lib/types/data.rs
  TP2/services/generic-service/src/lib/types/data.rs
Labels: tp2, .rust

Rename failed_payments file
  TP2/run.sh
  TP2/services/alglobo/src/lib/constants/paths.rs
  TP2/services/alglobo/src/lib/data_plane.rs
Labels: tp2, .rust

Add README
  TP2/README.md
Labels: tp2

Add README (#83)
  TP2/README.md
Labels: tp2

Logging options in docker-compose
  TP2/docker-compose.yml
Labels: tp2

generic-service migrated
  TP2/config/airline.env
  TP2/config/alglobo.env
  TP2/config/bank.env
  TP2/config/directory.env
  TP2/config/hotel.env
  TP2/services/alglobo/Cargo.lock
  TP2/services/alglobo/Cargo.toml
  TP2/services/alglobo/dummy.Cargo.toml
  TP2/services/directory/Cargo.lock
  TP2/services/directory/Cargo.toml
  TP2/services/directory/dummy.Cargo.toml
  TP2/services/generic-service/Cargo.lock
  TP2/services/generic-service/Cargo.toml
  TP2/services/generic-service/dummy.Cargo.toml
  TP2/services/generic-service/src/lib/bank.rs
  TP2/services/generic-service/src/lib/service.rs
  TP2/services/generic-service/src/main.rs
Labels: tp2, .rust

Mains and directory
  TP2/services/alglobo/src/bin/app.rs
  TP2/services/alglobo/src/bin/manual.rs
  TP2/services/directory/src/lib/directory.rs
  TP2/services/directory/src/main.rs
  TP2/services/generic-service/src/main.rs
Labels: tp2, .rust

Prepare AlGlobo for logging
  TP2/services/alglobo/src/lib/control_plane.rs
  TP2/services/alglobo/src/lib/data_plane.rs
  TP2/services/alglobo/src/lib/directory.rs
  TP2/services/alglobo/src/lib/replica.rs
  TP2/services/alglobo/src/lib/tx_log.rs
  TP2/services/alglobo/src/lib/utils.rs
Labels: tp2, .rust

Parse AlGlobo
  TP2/services/alglobo/src/lib/control_plane.rs
  TP2/services/alglobo/src/lib/data_plane.rs
  TP2/services/alglobo/src/lib/directory.rs
  TP2/services/alglobo/src/lib/replica.rs
  TP2/services/alglobo/src/lib/tx_log.rs
  TP2/services/alglobo/src/lib/utils.rs
Labels: tp2, .rust

add: refactor and manual retry implementation
  TP2/services/alglobo/src/lib/data_plane.rs
  TP2/services/alglobo/src/lib/manual.rs
  TP2/services/alglobo/src/lib/replica.rs
  TP2/services/alglobo/src/lib/tx_log.rs
Labels: tp2, .rust

Implement manual retry service (#84)
  TP2/common/alglobo_generic-service_protocol.rs
  TP2/services/alglobo/src/lib/data_plane.rs
  TP2/services/alglobo/src/lib/manual.rs
  TP2/services/alglobo/src/lib/replica.rs
  TP2/services/alglobo/src/lib/tx_log.rs
  TP2/services/alglobo/src/lib/types/data.rs
  TP2/services/generic-service/src/lib/types/data.rs
Labels: tp2, .rust

Logs (#85)
  TP2/config/airline.env
  TP2/config/alglobo.env
  TP2/config/bank.env
  TP2/config/directory.env
  TP2/config/hotel.env
  TP2/docker-compose.yml
  TP2/services/alglobo/Cargo.lock
  TP2/services/alglobo/Cargo.toml
  TP2/services/alglobo/dummy.Cargo.toml
  TP2/services/alglobo/src/bin/app.rs
  TP2/services/alglobo/src/bin/manual.rs
  TP2/services/alglobo/src/lib/control_plane.rs
  TP2/services/alglobo/src/lib/data_plane.rs
  TP2/services/alglobo/src/lib/directory.rs
  TP2/services/alglobo/src/lib/replica.rs
  TP2/services/alglobo/src/lib/tx_log.rs
  TP2/services/alglobo/src/lib/utils.rs
  TP2/services/directory/Cargo.lock
  TP2/services/directory/Cargo.toml
  TP2/services/directory/dummy.Cargo.toml
  TP2/services/directory/src/lib/directory.rs
  TP2/services/directory/src/main.rs
  TP2/services/generic-service/Cargo.lock
  TP2/services/generic-service/Cargo.toml
  TP2/services/generic-service/dummy.Cargo.toml
  TP2/services/generic-service/src/lib/bank.rs
  TP2/services/generic-service/src/lib/service.rs
  TP2/services/generic-service/src/main.rs
Labels: tp2, .rust

Fix prints to logs
  TP2/services/alglobo/src/lib/data_plane.rs
  TP2/services/alglobo/src/lib/manual.rs
  TP2/services/alglobo/src/lib/utils.rs
Labels: tp2, .rust

Cargo fmt
  TP2/clean_docker.sh
  TP2/common/alglobo_generic-service_protocol.rs
  TP2/services/alglobo/src/lib/lib.rs
  TP2/services/alglobo/src/lib/tx_log.rs
  TP2/services/alglobo/src/lib/types/data.rs
  TP2/services/generic-service/src/lib/types/data.rs
Labels: tp2, .rust

Cargo doc
  TP2/services/alglobo/src/lib/control_plane.rs
  TP2/services/alglobo/src/lib/data_plane.rs
  TP2/services/alglobo/src/lib/directory.rs
  TP2/services/alglobo/src/lib/lib.rs
  TP2/services/alglobo/src/lib/manual.rs
  TP2/services/alglobo/src/lib/tx_log.rs
Labels: tp2, .rust

Disable end directory
  TP2/services/alglobo/src/lib/directory.rs
Labels: tp2, .rust

Keep directory open
  TP2/services/alglobo/src/lib/directory.rs
  TP2/services/directory/src/lib/directory.rs
Labels: tp2, .rust

add: report
  TP2/docs/Informe.pdf
Labels: tp2, docs

Cargo doc (#86)
  TP2/services/alglobo/src/lib/control_plane.rs
  TP2/services/alglobo/src/lib/data_plane.rs
  TP2/services/alglobo/src/lib/directory.rs
  TP2/services/alglobo/src/lib/lib.rs
  TP2/services/alglobo/src/lib/manual.rs
  TP2/services/alglobo/src/lib/tx_log.rs
Labels: tp2, .rust

Final cleanup
  TP2/services/alglobo/src/lib/control_plane.rs
Labels: tp2, .rust

Final cleanup *
  TP2/services/alglobo/src/lib/control_plane.rs
  TP2/services/alglobo/src/lib/replica.rs
Labels: tp2, .rust

Revert "Final cleanup *"
  TP2/services/alglobo/src/lib/control_plane.rs
  TP2/services/alglobo/src/lib/replica.rs
Labels: tp2, .rust

Revert "Final cleanup"
  TP2/services/alglobo/src/lib/control_plane.rs
Labels: tp2, .rust

Final cleanup ***
  TP2/services/alglobo/src/lib/control_plane.rs
  TP2/services/alglobo/src/lib/replica.rs
Labels: tp2, .rust

Fixed directory bug
  TP2/common/alglobo_directory_protocol.rs
  TP2/services/directory/src/lib/directory.rs
Labels: tp2, .rust

Implement drop for DataPlaneReceiver
  TP2/services/alglobo/src/lib/data_plane.rs
Labels: tp2, .rust
