Repository mauro7x/concurrentes, changes with the labels that .github/labeler.yml gives for each.
All labels: repository, github, hooks, ui, tp1, tp2, .rust, .js, docs

.github/labeler.yml:

# Main repository structure
repository: '*'
github: .github/**/*
hooks: hooks/**/*

# Packages
ui: ui/**/*
tp1: TP1/**/*
tp2: TP2/**/*

# Extensions
.rust: '**/*.rs'
.js: '**/*.js'

# Any subfolder
docs: '**/docs/**/*'

Add TP2 basic structure
  TP2/README.md
  TP2/docs/Enunciado.md
Labels: tp2, docs

Prepare hook for TP2
  .rusty-hook.toml
Labels: repository

Setup TP2 structure (#45)
  .rusty-hook.toml
  TP2/README.md
  TP2/docs/Enunciado.md
Labels: repository, tp2, docs

Deleted cargo fmt from pre-commit
  hooks/pre-commit
Labels: hooks

Generic service
  TP2/service/.dockerignore
  TP2/service/Cargo.lock
  TP2/service/Cargo.toml
  TP2/service/Dockerfile
  TP2/service/src/lib/constants.rs
  TP2/service/src/lib/lib.rs
  TP2/service/src/main.rs
Labels: tp2, .rust

AlGlobo service
  TP2/alglobo/.dockerignore
  TP2/alglobo/Cargo.lock
  TP2/alglobo/Cargo.toml
  TP2/alglobo/Dockerfile
  TP2/alglobo/src/lib/lib.rs
  TP2/alglobo/src/main.rs
Labels: tp2, .rust

Add environment variables
  TP2/airline.env
  TP2/alglobo.env
  TP2/bank.env
  TP2/hotel.env
Labels: tp2

Scripts
  TP2/build.sh
  TP2/clean.sh
Labels: tp2

Docker compose
  TP2/docker-compose.yml
Labels: tp2

Moved files to transactions/
  TP2/clean.sh
  TP2/transactions/airline.env
  TP2/transactions/alglobo.env
  TP2/transactions/alglobo/.dockerignore
  TP2/transactions/alglobo/Cargo.lock
  TP2/transactions/alglobo/Cargo.toml
  TP2/transactions/alglobo/Dockerfile
  TP2/transactions/alglobo/src/lib/lib.rs
  TP2/transactions/alglobo/src/main.rs
  TP2/transactions/bank.env
  TP2/transactions/build.sh
  TP2/transactions/clean.sh
  TP2/transactions/docker-compose.yml
  TP2/transactions/hotel.env
  TP2/transactions/service/.dockerignore
  TP2/transactions/service/Cargo.lock
  TP2/transactions/service/Cargo.toml
  TP2/transactions/service/Dockerfile
  TP2/transactions/service/src/lib/constants.rs
  TP2/transactions/service/src/lib/lib.rs
  TP2/transactions/service/src/main.rs
Labels: tp2, .rust

Add replicas
  TP2/replicas/alglobo.env
  TP2/replicas/alglobo/.dockerignore
  TP2/replicas/alglobo/Cargo.lock
  TP2/replicas/alglobo/Cargo.toml
  TP2/replicas/alglobo/Dockerfile
  TP2/replicas/alglobo/src/lib/lib.rs
  TP2/replicas/alglobo/src/main.rs
  TP2/replicas/docker-compose.yml
  TP2/strategy.md
Labels: tp2, .rust

Setup TP2 infraestructure (#46)
  TP2/replicas/alglobo.env
  TP2/replicas/alglobo/.dockerignore
  TP2/replicas/alglobo/Cargo.lock
  TP2/replicas/alglobo/Cargo.toml
  TP2/replicas/alglobo/Dockerfile
  TP2/replicas/alglobo/src/lib/lib.rs
  TP2/replicas/alglobo/src/main.rs
  TP2/replicas/docker-compose.yml
  TP2/strategy.md
  TP2/transactions/airline.env
  TP2/transactions/alglobo.env
  TP2/transactions/alglobo/.dockerignore
  TP2/transactions/alglobo/Cargo.lock
  TP2/transactions/alglobo/Cargo.toml
  TP2/transactions/alglobo/Dockerfile
  TP2/transactions/alglobo/src/lib/lib.rs
  TP2/transactions/alglobo/src/main.rs
  TP2/transactions/bank.env
  TP2/transactions/build.sh
  TP2/transactions/clean.sh
  TP2/transactions/docker-compose.yml
  TP2/transactions/hotel.env
  TP2/transactions/service/.dockerignore
  TP2/transactions/service/Cargo.lock
  TP2/transactions/service/Cargo.toml
  TP2/transactions/service/Dockerfile
  TP2/transactions/service/src/lib/constants.rs
  TP2/transactions/service/src/lib/lib.rs
  TP2/transactions/service/src/main.rs
  hooks/pre-commit
Labels: hooks, tp2, .rust

Add necessary env variables
  TP2/transactions/airline.env
  TP2/transactions/alglobo.env
  TP2/transactions/bank.env
  TP2/transactions/hotel.env
Labels: tp2

define constants for setting env variables
  TP2/transactions/alglobo/src/lib/constants.rs
  TP2/transactions/service/src/lib/constants.rs
Labels: tp2, .rust

Implement protocol for sending and receiving messages
  TP2/transactions/alglobo/src/lib/lib.rs
  TP2/transactions/service/src/lib/lib.rs
  TP2/transactions/service/src/lib/protocol.rs
Labels: tp2, .rust

temporarily copy protocol, then refactor
  TP2/transactions/alglobo/src/lib/protocol.rs
Labels: tp2, .rust

test sending a message from coordinator to services and logging it
  TP2/transactions/alglobo/src/main.rs
  TP2/transactions/service/src/main.rs
Labels: tp2, .rust

WIP: Replicas
  TP2/replicas/.env
  TP2/replicas/alglobo/src/lib/config.rs
  TP2/replicas/alglobo/src/lib/lib.rs
  TP2/replicas/alglobo/src/main.rs
  TP2/replicas/clean.sh
  TP2/replicas/directory/.dockerignore
  TP2/replicas/directory/Cargo.lock
  TP2/replicas/directory/Cargo.toml
  TP2/replicas/directory/Dockerfile
  TP2/replicas/directory/src/lib/config.rs
  TP2/replicas/directory/src/lib/directory.rs
  TP2/replicas/directory/src/lib/lib.rs
  TP2/replicas/directory/src/lib/node.rs
  TP2/replicas/directory/src/lib/protocol.rs
  TP2/replicas/directory/src/lib/types.rs
  TP2/replicas/directory/src/lib/utils.rs
  TP2/replicas/directory/src/main.rs
  TP2/replicas/docker-compose.yml
  TP2/replicas/run.sh
Labels: tp2, .rust

WIP
  TP2/replicas/alglobo/src/main.rs
  TP2/replicas/directory/src/lib/directory.rs
Labels: tp2, .rust

WIP: Remove id when network is the same
  TP2/replicas/alglobo/src/main.rs
  TP2/replicas/directory/src/lib/directory.rs
Labels: tp2, .rust

WIP: Directory almost ready
  TP2/replicas/.env
  TP2/replicas/alglobo/src/lib/config.rs
  TP2/replicas/alglobo/src/main.rs
  TP2/replicas/directory/src/lib/directory.rs
  TP2/replicas/docker-compose.yml
  TP2/replicas/run.sh
  TP2/replicas/scale.sh
Labels: tp2, .rust

Enable TP2 CI
  .github/workflows/tp2_ci.yml
Labels: github

Revert "Enable TP2 CI"
  .github/workflows/tp2_ci.yml
Labels: github

Enable CI
  .github/workflows/tp2_ci.yml
Labels: github

Enable CI (#52)
  .github/workflows/tp2_ci.yml
Labels: github

Revert "Enable CI (#52)"
  .github/workflows/tp2_ci.yml
Labels: github

Update Labeler config
  .github/workflows/labeler.yml
Labels: github

WIP: Detect dead nodes when max_nodes is reached
  TP2/replicas/alglobo.env
  TP2/replicas/directory/src/lib/directory.rs
Labels: tp2, .rust

Directory finished
  TP2/replicas/directory/src/lib/directory.rs
  TP2/replicas/directory/src/lib/protocol.rs
Labels: tp2, .rust

WIP: Receive first broadcast
  TP2/replicas/alglobo/src/lib/lib.rs
  TP2/replicas/alglobo/src/lib/protocol.rs
  TP2/replicas/alglobo/src/main.rs
  TP2/replicas/directory/src/lib/directory.rs
  TP2/replicas/directory/src/lib/protocol.rs
  TP2/replicas/practica/Cargo.lock
  TP2/replicas/practica/Cargo.toml
  TP2/replicas/practica/examples/bully.rs
  TP2/replicas/practica/examples/ring.rs
Labels: tp2, .rust

WIP: Removed practica files
  TP2/replicas/practica/Cargo.lock
  TP2/replicas/practica/Cargo.toml
  TP2/replicas/practica/examples/bully.rs
  TP2/replicas/practica/examples/ring.rs
Labels: tp2, .rust

WIP: AlGlobo replica with directory full integration
  TP2/replicas/alglobo/src/lib/config.rs
  TP2/replicas/alglobo/src/lib/constants.rs
  TP2/replicas/alglobo/src/lib/directory.rs
  TP2/replicas/alglobo/src/lib/lib.rs
  TP2/replicas/alglobo/src/lib/protocol.rs
  TP2/replicas/alglobo/src/lib/replica.rs
  TP2/replicas/alglobo/src/lib/types.rs
  TP2/replicas/alglobo/src/main.rs
  TP2/replicas/directory/src/lib/constants.rs
  TP2/replicas/directory/src/lib/directory.rs
  TP2/replicas/directory/src/lib/lib.rs
  TP2/replicas/directory/src/main.rs
Labels: tp2, .rust

WIP: Replica non-blocking directory
  TP2/replicas/alglobo/src/lib/config.rs
  TP2/replicas/alglobo/src/lib/directory.rs
  TP2/replicas/alglobo/src/lib/replica.rs
Labels: tp2, .rust

WIP: Replica update method
  TP2/replicas/alglobo/src/lib/config.rs
  TP2/replicas/alglobo/src/lib/directory.rs
  TP2/replicas/alglobo/src/lib/replica.rs
  TP2/replicas/alglobo/src/lib/types.rs
  TP2/replicas/alglobo/src/main.rs
  TP2/replicas/directory/src/lib/directory.rs
Labels: tp2, .rust

Fix cargo clippy suggestions
  TP2/replicas/directory/src/lib/config.rs
  TP2/replicas/directory/src/lib/directory.rs
  TP2/replicas/directory/src/lib/lib.rs
  TP2/replicas/directory/src/lib/protocol.rs
  TP2/replicas/directory/src/lib/types.rs
  TP2/replicas/directory/src/main.rs
Labels: tp2, .rust

Fix cargo clippy suggestions
  TP2/replicas/alglobo/src/lib/directory.rs
Labels: tp2, .rust

Use exact buffer modifiers
  TP2/replicas/directory/src/lib/directory.rs
Labels: tp2, .rust

Cargo fmt
  TP2/replicas/directory/src/lib/directory.rs
Labels: tp2, .rust

Refactor protocol to match AlGlobo's
  TP2/replicas/directory/src/lib/directory.rs
  TP2/replicas/directory/src/lib/protocol.rs
  TP2/replicas/directory/src/lib/utils.rs
Labels: tp2, .rust

Finish Directory and AlGlobo integration
  TP2/replicas/directory/src/lib/directory.rs
  TP2/replicas/directory/src/lib/node.rs
  TP2/replicas/directory/src/lib/protocol.rs
Labels: tp2, .rust
