Repository mauro7x/concurrentes, changes with the labels that .github/labeler.yml gives for each.
All labels: repository, github, hooks, ui, tp1, .rust, .js, docs

testing labeler
  TP1/asd.js
  TP1/asd.rs
Labels: tp1, .rust, .js

Agrego docs part2
  TP1/src/lib/part2/errors.rs
  TP1/src/lib/part2/logger.rs
  TP1/src/lib/part2/metrics.rs
  TP1/src/lib/part2/request.rs
  TP1/src/lib/part2/request_handler.rs
  TP1/src/lib/part2/routes.rs
  TP1/src/lib/part2/state.rs
  TP1/src/lib/part2/status_service.rs
  TP1/src/lib/part2/webservice.rs
Labels: tp1, .rust

Add docs
  TP1/README.md
  TP1/docs/Informe.pdf
  TP1/docs/img/part1/Entity Diagram - Part I.drawio.png
  TP1/docs/img/part1/Flow Diagram - Part I.png
  TP1/docs/img/part2/Actors Diagram - Part II.png
  TP1/docs/img/part2/ui/img01.png
  TP1/docs/img/part2/ui/img02.png
  TP1/docs/img/part2/ui/img03.png
  TP1/docs/img/part2/ui/img04.png
  TP1/docs/img/part2/ui/img05.png
  TP1/docs/img/part2/ui/img06.png
Labels: tp1, docs

Part2/docs (#38)
  TP1/src/lib/part2/errors.rs
  TP1/src/lib/part2/logger.rs
  TP1/src/lib/part2/metrics.rs
  TP1/src/lib/part2/request.rs
  TP1/src/lib/part2/request_handler.rs
  TP1/src/lib/part2/routes.rs
  TP1/src/lib/part2/state.rs
  TP1/src/lib/part2/status_service.rs
  TP1/src/lib/part2/webservice.rs
Labels: tp1, .rust

Add docs
  TP1/docs/Informe.pdf
  TP1/docs/ManualDeUsuario.pdf
Labels: tp1, docs

Add docs (#39)
  TP1/README.md
  TP1/docs/Informe.pdf
  TP1/docs/img/part1/Entity Diagram - Part I.drawio.png
  TP1/docs/img/part1/Flow Diagram - Part I.png
  TP1/docs/img/part2/Actors Diagram - Part II.png
  TP1/docs/img/part2/ui/img01.png
  TP1/docs/img/part2/ui/img02.png
  TP1/docs/img/part2/ui/img03.png
  TP1/docs/img/part2/ui/img04.png
  TP1/docs/img/part2/ui/img05.png
  TP1/docs/img/part2/ui/img06.png
Labels: tp1, docs

Add docs (#40)
  TP1/docs/Informe.pdf
  TP1/docs/ManualDeUsuario.pdf
Labels: tp1, docs

Fix docs
  TP1/docs/img/diagrams/Actors Diagram - Part II.png
  TP1/docs/img/diagrams/Diagrama de Actores - Parte II.drawio
  TP1/docs/img/diagrams/Entity Diagram - Part I.drawio
  TP1/docs/img/diagrams/Entity Diagram - Part I.drawio.png
  TP1/docs/img/diagrams/Flow Diagram - Part I.drawio
  TP1/docs/img/diagrams/Flow Diagram - Part I.png
  TP1/docs/img/part1/Entity Diagram - Part I.drawio.png
  TP1/docs/img/part1/Flow Diagram - Part I.png
  TP1/docs/img/part2/Actors Diagram - Part II.png
  TP1/docs/img/ui/img01.png
  TP1/docs/img/ui/img02.png
  TP1/docs/img/ui/img03.png
  TP1/docs/img/ui/img04.png
  TP1/docs/img/ui/img05.png
  TP1/docs/img/ui/img06.png
Labels: tp1, docs

Fix docs (#41)
  TP1/docs/img/diagrams/Actors Diagram - Part II.png
  TP1/docs/img/diagrams/Diagrama de Actores - Parte II.drawio
  TP1/docs/img/diagrams/Entity Diagram - Part I.drawio
  TP1/docs/img/diagrams/Entity Diagram - Part I.drawio.png
  TP1/docs/img/diagrams/Flow Diagram - Part I.drawio
  TP1/docs/img/diagrams/Flow Diagram - Part I.png
  TP1/docs/img/part1/Entity Diagram - Part I.drawio.png
  TP1/docs/img/part1/Flow Diagram - Part I.png
  TP1/docs/img/part2/Actors Diagram - Part II.png
  TP1/docs/img/ui/img01.png
  TP1/docs/img/ui/img02.png
  TP1/docs/img/ui/img03.png
  TP1/docs/img/ui/img04.png
  TP1/docs/img/ui/img05.png
  TP1/docs/img/ui/img06.png
Labels: tp1, docs

Fix style
  TP1/src/lib/part2/webservice.rs
Labels: tp1, .rust

Fix style (#42)
  TP1/src/lib/part2/webservice.rs
Labels: tp1, .rust

Create dir if it does not exist
  TP1/src/lib/part1/logger.rs
  TP1/src/lib/part2/logger.rs
Labels: tp1, .rust

Create dir if it does not exist (#43)
  TP1/src/lib/part1/logger.rs
  TP1/src/lib/part2/logger.rs
Labels: tp1, .rust

Use production version of React in deployment
  ui/package.json
Labels: ui

Fixed workflow for ui deployment
  .github/workflows/ui.yml
Labels: github

Update README.md
  README.md
Labels: repository

Update ui.yml
  .github/workflows/ui.yml
Labels: github

Fix ui workflow
  .github/workflows/ui.yml
Labels: github

Update README.md
  README.md
Labels: repository

Update README.md
  README.md
Labels: repository

Updates
  index.html
  main.js
  main.js.LICENSE.txt
Labels: repository, .js

Delete ui.yml
  .github/workflows/ui.yml
Labels: github

Remove fmt from pre-commit
  hooks/pre-commit
Labels: hooks

.github/labeler.yml:

# Main repository structure
repository: '*'
github: .github/**/*
hooks: hooks/**/*

# Packages
ui: ui/**/*
tp1: TP1/**/*

# Extensions
.rust: '**/*.rs'
.js: '**/*.js'

# Any subfolder
docs: '**/docs/**/*'
